BPMN20/bob.soa/Bobo/LucasianProDevElaboracion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/LucasianProDevElaboracion" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/LucasianProDevElaboracion"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:tns6="http://www.lucasian.com/faseproyecto" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/LucasianProDevElaboracion">
            <xsd:import namespace="http://www.lucasian.com/faseproyecto" schemaLocation="xsd/LucasianProDevFase.xsd"/>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:faseProyecto"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:faseProyecto"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="finResponse">
        <wsdl:part name="parameters" element="tns:finResponse"/>
    </wsdl:message>
    <wsdl:portType name="LucasianProDevElaboracionPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="LucasianProDevElaboracionPortTypeCallBack">
        <wsdl:operation name="fin">
            <wsdl:input message="tns:finResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="LucasianProDevElaboracionPortTypePartnerLinkType">
        <plnk:role name="LucasianProDevElaboracionPortTypeProvider">
            <plnk:portType name="tns:LucasianProDevElaboracionPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
