BPMN20/bob.soa/Bobo/businessCatalog/ObjBOB/ObjCU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.6.0.15.53" build="15.53" fullName="ObjBOB.ObjCU" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ObjBOB/ObjCU" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ObjBOB/ObjCU"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ObjCUType">
        <xs:sequence>
            <xs:element name="idCU" nillable="true" type="xs:string"/>
            <xs:element name="idProyecto" nillable="true" type="xs:string"/>
            <xs:element name="nombreCU" nillable="true" type="xs:string"/>
            <xs:element name="estadoCU" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ObjCU" type="ObjCUType"/>
</xs:schema>
